#fondo{
    background: url(./img/Gotham_City-Urban_Landscape_Wallpaper_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    box-sizing: border-box;
    background-attachment: fixed;
}

#titulo{
 color: beige;
}

#title{
  color: white;
  background-color: black;
 }

#canvas{
  background:url(./img/fondo.gif);
  background-repeat: no-repeat;
  background-size: 110%;
  margin: 40px;
  background-attachment: fixed;
}

#boton{
  margin: -40px 980px;
  align-items: left;
}

#boton1{

  margin: -40px 910px;
  align-items: left;
}

#boton2{

  margin: -40px 820px;
  align-items: left;
}


